/node_modules/

# Pagina web files
/public/assets/
/public/images/
/public/index.html
/public/left-sidebar.html
/public/no-sidebar.html
/public/right-sidebar.html
/public/README.txt
/public/LICENSE.txt

